doctype html
html
  head
   title Anand Dance Academy
    block scripts
    block style 
     
  body
   
    block content
     
     footer#footer 
     | Copyright © 2023 AnandDanceAcademy.com | All rights reserved
      